body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Minimum height of the viewport */
    position: relative;
    font-family: Arial, sans-serif;
}

.container {
 box-sizing: border-box;
 padding: 100px;
 
}


.header {
    position: relative;
    justify-content: center;
    display: flex;
    margin: 0%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/105/007/non_2x/luxury-abstract-background-with-golden-and-black-shapes-metal-texture-steel-background-vactor-design-illustration-free-vector.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 1349px 400px;
    color: white;
    border-bottom: 2px solid rgb(235, 164, 11);
}

.profile {
    position: absolute;
    margin-top: 100px;
    border-radius: 50%;
    height: 200px;
    right: 60%;
}

#name {
    position: absolute;
    font-size: 60px;
    top: 18%;
    left: 43%;
}
#fjob {
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 43%;
}
.info {
    top: 50%;
    position: absolute;
    left: 42%;
    font-size: 17px;
}
hr.new4 {
    position: absolute;
    border: 1px solid rgb(235, 164, 11);
    width: 45%;
    left: 43%;
    top: 50%;
  }


   #contact , #email {
    position: relative;
    left: 230px;
    bottom: 120px;
  }

.body {
    position: relative;
    display: flex;
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/104/955/non_2x/luxury-abstract-background-with-golden-and-black-shapes-metal-texture-steel-background-vactor-design-illustration-free-vector.jpg");
    justify-content: center;
    height: 1450px;
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
    
}
.profskills {
    position: relative;
    display: flex;
}

#aboutme {
position: absolute;
    font-size: 40px;
    right: 70%;
}
#aboutme1 {
    font-size: 40px;
    top: 19%;
    position: absolute;
    left: 0;
    border: 2px solid rgb(235, 164, 11);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
padding: 10px;
}
#about {
    position: absolute;
    font-size: 23px;
    margin: 30px;
    top: 80px;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    left: 0;
  
    padding: 9px 20px 10px 35px;
}

.skills2 {
    position: absolute;
    display: inline-block; 
    top: 28%;
    font-size: 20px;
right: 550px;
width: 20%;

}
.skills1 {
position: absolute;
display: inline-block; 
top: 28%;
font-size: 20px;
left: 100px;
width: 20%;
}
#rizzz {
    position: absolute; 
    top: 45%;
    font-size: 20px;
    left: 29%;
}
#Javascript {
    margin-top: 20%;
}
#Gaming {
    margin-top: 20%;
}

.container1 { 
    background-color: rgb(192, 192, 192);  
    border-radius: 15px; 
} 
.skill { 
    background-color: rgb(116, 194, 92); 
    color: white; 
    padding: 1%; 
    text-align: center; 
    font-size: 20px; 
    border-radius: 15px; 
    width: 50%;
} 
.html { 
    width: 80%; 
} 
.html1 { 
    width: 50%; 
} 
.html2 { 
    width: 40%; 
} 
.html3 { 
    width: 90%; 
} 
.container2 { 
    background-color: rgb(192, 192, 192);  
    border-radius: 15px; 
} 
.skill1 { 
    background-color: rgb(192, 192, 192); 
    color: white; 
    padding: 15px; 
   text-align: center; 
   justify-content: center;
   display: flex;
    font-size: 20px; 
    border-radius: 15px; 
    height: 2px;
} 
.html4 { 
    position: absolute;
    width: 30%; 
    top: 49%;
    right: 52%;
} 

/** footer {
    background: #dddee1;
    padding: 5vh 0;
    text-align: center;
    position: relative;
    bottom: 0;
  } */


  .personal_info {
    position: absolute;
    font-size: 23px;
    margin: 30px;
    top: 80px;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    left: 0;
    padding: 9px 20px 10px 35px;
}
