body {
    margin: auto;
}

.container {
    margin: auto;
    padding: 2px;
}

.header {
    position: relative;
    justify-content: center;
    display: flex;
    margin: 0%;
    background-color: aqua;
    height: 400px;
}

.profile {
    position: absolute;
    margin-top: 100px;
    border-radius: 50%;
    height: 200px;
    right: 60%;
}

#name {
    position: absolute;
    font-size: 40px;
    top: 18%;
    left: 40%;
}
#job {
    position: absolute;
    font-size: 35px;
    top: 30%;
    left: 41%;
}
.info {
    top: 50%;
    position: absolute;
    left: 42%;
    font-size: 17px;
}
hr.new4 {
    position: relative;
    border: 1px solid black;
    width: 180%;
    right: 6%;
  }
   #contact , #email {
    position: relative;
    left: 230px;
    bottom: 120px;
  }

.body {
    position: relative;
    display: flex;
    background-color: gray;
    justify-content: center;
    width: 50%;
    height: 500px;
}
.body2 {
    position: relative;
    display: flex;
    background-color: gray;
    justify-content: center;
    width: 50%;
    height: 500px;
    float: right;
    bottom: 500px;
    border-left: 2px solid black;
}
#aboutme {
    position: absolute;
    font-size: 40px;
}
#about {
    position: absolute;
    font-size: 23px;
    margin: 30px;
    top: 80px;
}