body {
    margin: 0;
    padding: 0;
    
    position: relative;
    font-family: Arial, sans-serif;
}

.container {
 box-sizing: border-box;
 padding: 100px;
 
}


.header {
    position: relative;
    justify-content: center;
    display: flex;
    margin: 0%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/105/007/non_2x/luxury-abstract-background-with-golden-and-black-shapes-metal-texture-steel-background-vactor-design-illustration-free-vector.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 1349px 400px;
    color: white;
    border-bottom: 2px solid rgb(235, 164, 11);
}

.profile {
    position: absolute;
    margin-top: 100px;
    border-radius: 50%;
    height: 200px;
    right: 60%;
}

#name {
    position: absolute;
    font-size: 50px;
    top: 18%;
    left: 43%;
}
#job {
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 43%;
    color: white;
}
#description {
    top: 50%;
    position: absolute;
    left: 42%;
    font-size: 17px;
}
hr.new4 {
    position: absolute;
    border: 1px solid rgb(235, 164, 11);
    width: 45%;
    left: 43%;
    top: 50%;
  }
.body img {
    height: 1150px;
}


.body {
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center; /* Center content vertically */
    min-height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

#aboutme1 {
position: absolute;
    font-size: 30px;
    right: 76%;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 10px;
    border-radius: 10px;
padding: 10px;
top: 0;
}

#educ {
    font-size: 30px;
    top: 26%;
    position: absolute;
    left: 0;
    border: 2px solid rgb(235, 164, 11);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
padding: 10px;
}
#education {
    position: absolute;
    font-size: 16px;
    top: 35%;
    width: 100%;
}
.level {
    background-color: #d6ad24;
    color: white;
    padding: 2px;
    border-radius: 5px;
    width: 38%;
    font-size: 12px;
}


#aboutme {
        font-size: 30px;
        top: 0;
        position: absolute;
        right: 39.1%;
        border: 2px solid rgb(235, 164, 11);
        border-radius: 10px; 
    padding: 10px;
    border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
}
    #about_me {
        position: absolute;
        font-size: 20px;
        margin: 30px;
        border: 2px solid rgb(235, 164, 11);
        border-radius: 20px;
        border-top-left-radius: 0;
        padding: 20px;
        width: 35%;
        padding: 9px 20px 10px 35px;
        color: white;
        left: 45%;
        top: 4.9%;
        }

        #more {
            font-size: 30px;
            top: 23%;
            position: absolute;
            right: 20%;
            border: 2px solid rgb(235, 164, 11);
            border-radius: 10px;
            border-radius: 10px;
        padding: 10px;
        border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
    }

    
    #skills {
        position: absolute;
    font-size: 30px;
    right: 83%;
    top: 93px;
    }



  .personal_info {
    position: absolute;
    font-size: 20px;
    margin: 30px;
    top: 27.9%;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    left: 57.6%;
    padding: 9px 20px 10px 35px;
    color: white;
    border-top-left-radius: 0;
    
}

.body2 {
    box-sizing: border-box;
 padding: 100px;
 position: relative;
    justify-content: center;
    display: flex;
    margin: 0%;
    background-image: url("");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 1349px 400px;
    color: white;
    border-top: 2px solid rgb(235, 164, 11);
}
.body2 img {
    top: 0;
    position: absolute;
    height: 110%;
    width: 100%;
}

#exp {
    position: absolute;
    font-size: 20px;
    margin: 30px;
    top: 15.8%;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 20px;
    left: 20.5%;
    padding: 9px 20px 10px 35px;
    color: white;
    width: 170px;
}
#experience {
    position: absolute;
    font-size: 20px;
    margin: 30px;
    top: 25%;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    left: 20.5%;
    padding: 9px 20px 10px 35px;
    color: white;
    border-top-left-radius: 0;
    list-style: none;
}

#award {
    font-size: 30px;
            top: 66.2%;
            position: absolute;
            right: 28.7%;
            border: 2px solid rgb(235, 164, 11);
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        padding: 10px;
}
#awards {
    position: absolute;
    font-size: 20px;
    margin: 30px;
    top: 71%;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 20px;
    border-top-left-radius: 0;
    padding: 20px;
    width: 30%;
    left: 58%;
    padding: 9px 20px 10px 35px;
    color: white;
}

#references {
    position: absolute;
    font-size: 12px;
    margin: 30px;
    top: 25%;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 20px;
    padding: 20px;
    width: 25%;
    left: 61.5%;
    padding: 9px 20px 10px 35px;
    color: white;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#refers {
    position: absolute;
    font-size: 20px;
    margin: 30px;
    top: 15.8%;
    border: 2px solid rgb(235, 164, 11);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
    width: 30%;
    left: 61.5%;
    padding: 9px 20px 10px 20px;
    color: white;
    width: 100px;
}
.details {
    font-size: 15px;
}

